<header>
    <nav class="menu">
        <img src="img/svg/logo.svg" alt="logo" class="logo"/>
        <ul class="listmenu">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="gallery.html">Galeries</a></li>
            <li><a href="prices-services.html">Tarifs et prestations</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

        <ul class="listRS">
            <li><a href="#"><img src="img/svg/logofb.svg" alt="logors" class="logofb"/></a></li>
            <li><a href="#"><img src="img/svg/logoinsta.svg" alt="logors" class="logoinsta"/></a></li>
        </ul>
    </nav>
</header>