---
title: Charles Cantin - Photographe
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/508fc1bf5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!Menu de navigation>
        {% include "header.njk" %}
        
        <! Corps du site>
            <div class="main">
                {{ content | safe }}
            </div>
            
        <!footer du site>
            {% include "footer.njk" %}
    </div>
<script src="/public/js/app.js"></script>
</body>
</html>