.homepage-bkg {
    background: url('/public/img/Grossesse/pregnancy2.jpg');
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size:cover;
    display: grid;
    place-items: center;
    .center {
        display: inline-block;
        margin: 0 auto;       
    }
    H1 {
        font-family: 'Montserrat', 'Sans-serif';
        font-size: 3em;
        text-align: center;
        color: white;
    }
}

@media screen and (min-width: 1280px) {
    .homepage-bkg {
        background: url('/public/img/Grossesse/pregnancy2.jpg');
        background-position: center;
        width: 100vw;
        text-align: center;
        background-size:cover;
        display: grid;
        place-items: center;
        h1 {
            display: inline-block;
            margin: 0 auto;
            font-family: 'Hind-Madurai', 'sans-serif';
            font-weight: 500;
            font-style: normal;       
        }
        H1 {
            font-family: 'Montserrat', 'Sans-serif';
            font-size: 5vw;
            text-align: center;
            color: white;
    
        }
    }
}