.bkg-services {
    position: relative;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    top:10vh;
    height: 80%;
    margin-top: 1.5em;
    margin-bottom: 3em;
    .card {
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $violet; 
        border-radius: 20px;
        margin: 0 auto 3em;
        padding-bottom: 0.5em;
        width: 70vw;
        height: fit-content;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s;
        .card__img {
            width: 100%;
            background-color: black;
            border-radius: 20px 20px 0 0 ;
            height: 100%;
            overflow: hidden;

            img {
                display: block;
                width: inherit;
                border-radius: 20px 20px 0 0;
                border: 2px solid $violet;
                opacity: 1;
            }
        }
        .card__img:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
        .card__body{                       
            width: 100%;
            padding: 1em;
            .card__title{
                p {
                    font-family: 'Montserrat', 'sans-serif';
                font-size: 1.4em;
                font-weight: 800;
                font-style: italic;
                text-align: left;
                color: white;
                margin-left: 1em;
                }
            }
            .card__line{
                height:3px;
                width: 75%;
                margin-left: 1em;
                border-width:0;
                border-radius: 20px;
                margin-bottom: 1em;
                color:rgb(255, 255, 255);
                background-color:rgb(255, 255, 255)
            }
            .card__description {
                display: flex;
                flex-direction: row;
                margin: 1em;
                p {
                    font-weight: 300;
                    font-size: 1.2em;
                    color: white;
                    padding-top: 1em;
                }
            }
            .card__price {
                margin-left: 70%;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: 1px solid $lightgrey;
                background-color: $lightPink;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 3px 3px 3px 3px  rgba($color: $darkBlue, $alpha: 0.3);
                p {
                    font-family: 'Hind Madurai', 'sans-serif';
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $darkBlue;
                    text-align: center;
                }
            }   
        }
    }
}

@media screen and (min-width: 1280px) {

    .bkg-services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
        top:10vh;
        height: 95%;
        margin-top: 3em;
        margin-bottom: 2.3em;
        .card {
            width: 28vw;
            .card__body{
                height: 50%;
                overflow: hidden;
                .card__title{
                    p {
                    font-size: 1.2em;
                    }
                }
                .card__line{
                    width: 60%;
                }
                .card__description {
                    p {
                        margin: 0.1em;
                        width: 90%;
                        font-size: 1em;

                    }
                }
                .card__price {
                    margin-left: 70%;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background-color: $lightPink;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        font-family: 'Hind Madurai', 'sans-serif';
                        font-size: 1.4em;
                        font-weight: 500;
                        color: $darkBlue;
                        text-align: center;
                    }
                }    
            }
        }
        img:hover {
            transform: scale(1.2);
            transition: transform 0.3s;
        }
        .card:hover {
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
            transition: ease all 0.2s;
            .card__body {
                height: 100%;
            }
        }
    }
    
}

