.nav {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px
}
.logo {
    padding: 10px
}

.navbar {
    display: flex;
    justify-content: space-between;
} 
.listmenu, .listRS {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;

    .li, a {
        font-weight: bold;
        padding: 10px;
        text-decoration: none;

    }
}
