---
layout: layout.njk
---
<div class="gallery__bkg">
    <h1 class="gallery__title">Galerie</h1>

    <div class='container-category'>
        <select name="category" id="category-select">
            <option value="">Choix de la catégorie</option>
            <option value="grossesse">Grossesse</option>
            <option value="mariage">Mariage</option>
            <option value="portrait">Portrait</option>
            <option value="famille">Famille</option>
            <option value="couple">Couple</option>
            <option value="bébé">Bébé</option>
        </select>
    </div>
</div>