---
layout: layout.njk
---

<h1 class="services-title">Mes services</h1>

<div class="card">
    <div class="card__img">
        <img src="#" alt="quotes" class="card__img"/>
    </div>
    <div class="card__title">
        <p>"Mon bébé"</p>
        </div>
    <hr class="card__line">
    <div class="card__text">
        <p>Photo d’enfant jusqu’à 3 ans (A votre domicile, en extérieur ou en studio)</p>
    </div>
    <div class="card__price">
        <p>100€ / la séance</p>
    </div>
</div>

<div class="card">
    <div class="card__img">
        <img src="#" alt="quotes" class="card__img"/>
    </div>
    <div class="card__title">
        <p>"Pour deux"</p>
    </div>
    <hr class="card__line">
    <div class="card__text">
        <p>Pour deux personnes, en extérieur ou en studio</p>
    </div>
    <div class="card__price">
        <p>195€ / la séance<p>
    </div>
</div>

<div class="card">
    <div class="card__img">
        <img src="#" alt="quotes" class="card__img"/>
    </div>
    <div class="card__title">
        <p>"Juste moi"</p>
    </div>
    <hr class="card__line">
    <div class="card__text">
        <p>Séance pour une personne, en extérieur ou en studio</p>
    </div>
    <div class="card__price">
        <p>130€ / la séance</p>
    </div>
</div>
    
    