---
layout: layout.njk
---

<div class="bkg-services">

    <! Tarif pour portrait >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/portrait.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"Juste moi"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Séance pour une personne, en extérieur ou en studio</p>
            </div>
            <div class="card__price">
                <p>130€</p>
            </div>
        </div>
    </div>

    <! Tarif pour Couple >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/couple.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"Pour deux"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Pour deux personnes, en extérieur ou en studio</p>
            </div>
            <div class="card__price">
                <p>195€</p>
            </div>
        </div>
    </div>

        <! Tarif pour Mon bébé >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/baby.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"Mon bébé"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Photo d'enfant jusqu'à 3 ans <br>(photo à domicile)</p>
            </div>
            <div class="card__price">
                <p>100€</p>
            </div>
        </div>
    </div>

    <! Tarif pour Grossesse >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/pregnancy.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"Il était une fois"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Photo de grossesse <br>(A votre domicile, en extérieur ou en studio)</p>
            </div>
            <div class="card__price">
                <p>160€</p>
            </div>
        </div>
    </div>

    <! Tarif pour tout évènement >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/wedding.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"J'immortalise l'évènement sur mesure"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Prestation de mariage ou baptème</p>
            </div>
            <div class="card__price">
                <p>Sur devis</p>
            </div>
        </div>
    </div>

    <! Tarif pour Famille >
    <div class="card">
        <div class="card__img">
            <img src="/public/img/400x400/family.jpg" alt="quotes"/>
        </div>
        <div class="card__body">
            <div class="card__title">
                <p>"Famille"</p>
            </div>
            <hr class="card__line">
            <div class="card__description">
                <p>Pour la famille ou les amis jusqu'à 4 pers. <br>En extérieur ou en studio</br>
                30€ en supplément par personne au-delà de 4 <br>(hormis enfant jusqu'à 2 ans)
                </p>
            </div>
            <div class="card__price">
                <p>220€</p>
            </div>
        </div>
    </div>
</div>