* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}

body, html {
    min-width: 100%;
}

.main {
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
}
