* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}

body, html {
    width: 100vw;
    height: 100vh;

    .container {
        position: relative;
        height: fit-content;
    }

    .main {
        position: relative;
        max-width: 2560px;
        height:100%;
    }
}